
.navbar:before{
	content:"";
	position:absolute;
	top:0%;
	bottom:0%;
	left:0;
	right:0;
	opacity:0.3;
	z-index:-1;
	background:linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.nav-item a{
	color: #fff!important;
	font-weight:bold;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: 'Poppins', sans-serif;
}
